html {
  background: black;
}

h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vmin;
  outline: 1px solid;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
}

span {
  display: block;
  flex: 1 0 25vmin;
  text-align: center;
  color: white;
  font-size: 20vmin;
  text-transform: uppercase;
  height: 25vmin;
}
