
/*
====================================================

* 
	
	Project Name :  João Medeiros | Front-end and Mobile developer
	Version    :  1.0
	Authors     :  Leu Almeida and João Medeiros
	Authors URI :  https://leunardo.dev / 

====================================================

	TOC
	
	1. PRIMARY STYLES
	2. COMMONS FOR PAGE DESIGN
	3. HEADER
	4. INTRO SECTION
	5. PORFOLIO SECTION
	6. ABOUT SECTION
	7. EXPERIENCE SECTION
	8. EDUCATION SECTION
	9. COUNTER SECTION
	10. FOOTER
	11. MOBILE MENU

====================================================


/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html{ font-size: 100%; height: 100%; overflow-x: hidden; margin: 0px;  padding: 0px; touch-action: manipulation; }


body{ font-size: 16px; font-family: 'Poppins', serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #333; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: 'Poppins', cursive; }

p{ line-height: 1.6; font-size: 1.05em; font-weight: 400; color: #777; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.2em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; line-height: 1; 
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #4169E1; }

b{ font-weight: 600; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

b.max-bold{ font-weight: 700; }

.navbar {
    position: fixed;
    z-index: 999;
    padding: 0.5rem 1rem;
    right: 0;
    left: 0;
    background: #4169E1;
    width: 12%;
    border-radius: 0px 0px 30px 0px;
    box-shadow: 0 0 20px 0px #00000073;
}



/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */
.certificadoFalse { color:#fff !important; font-weight: bold; }
.certificadoFalse:hover { color:#fff !important; font-weight: bold; }


.section{ padding: 100px 0 50px; }

.section .heading{ margin-bottom: 60px; }

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin-bottom: 20px; display: block; background: #4169E1; }
	
.margin-t-10{ margin-top: 10px; }

.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }

.font-yellow{ color: #4169E1; }

.font-yellow-correct{ color: #4169E1; }

.font-semi-white{ color: #ddd; }

.font-lite-black{ color: #999; }

.center-text{ text-align: center; }

.right-text{ text-align: right; }

.left-text{ text-align: left; }

/* ---------------------------------
3. HEADER
--------------------------------- */

header{ position: absolute; top: 30px; left: 0; right: 0; z-index: 100; }

header .heading-wrapper{ border-radius: 5px; padding: 30px 40px 20px; background: #4169E1; color: #fff; }

header .info{ margin-bottom: 10px; }

header .info .icon{ float: left; font-size: 30px; }

header .info .right-area{ margin-left: 45px; }

header .downlad-btn{ padding: 15px 30px; border-radius: 4px;margin-top: 30px;
	box-shadow: inset 0 0px 4px rgba(0,0,0,.3); background: #4169E1; color: #fff; 
	-webkit-transition: all .2s ease; transition: all .2s ease; }

header .downlad-btn:hover{ -webkit-transform: translateY(-4px); transform: translateY(-4px); }


/* ---------------------------------
4. INTRO SECTION
--------------------------------- */

.intro-section{ padding-top: 200px; position: relative; background-size: cover; 
	z-index: 1;background-image: url(../../images/slider-1-1920x1080.jpg); }

.intro-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; background: rgba(0,0,0, .2); }
	
.intro-section:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	height: 150px; z-index: -1; background: #fff; }

.intro{ padding: 0 20px; margin-top: 100px; text-align: center; background: #fff; }

.intro .profile-img{ height: 200px; width: 200px; border-radius: 100px; margin: 0 auto; 
	overflow: hidden; position: relative; top: -100px; margin-bottom: -70px;  }

.intro .information > li{ display: block; margin: 5px 0; }

.intro .social-icons > li > a{ height: 35px; line-height: 35px; width: 35px; border-radius: 20px; 
	overflow: hidden; z-index: 1; position: relative; margin: 0 5px 5px; background: #4169E1; color: #fff; }

.intro .social-icons > li > a:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	top: 0; z-index: -1; border-radius: 20px; background: #00000082; 
	-webkit-transition: all .2s ease; transition: all .2s ease;
	-webkit-transform: scale(0); transform: scale(0); }

.intro .social-icons > li > a:hover:after{ -webkit-transform: scale(1); transform: scale(1); }


/* ---------------------------------
5. PORFOLIO SECTION
--------------------------------- */

.portfolio-section{ padding-bottom: 0; }

.portfolio-section .portfolioFilter{ margin-top: 60px; color: #666; }

.portfolio-section .portfolioFilter a{ margin: 10px 10px 0 0; }

.portfolio-section .portfolioFilter a.current{  color: #4169E1; }

.portfolio-section .portfolioContainer{ margin-right: -15px; }

.portfolio-section .p-item{ width: 33.333%; padding: 0 7.5px 0px; margin-top: 15px; }

.portfolio-section .p-item a{ display: inline; }

.portfolio-section .p-item.p-item-2 .img:first-child{ float: left; width: 50%; padding-right: 7.5px; }

.portfolio-section .p-item.p-item-2 .img:last-child{ float: right; width: 50%; padding-left: 7.5px; }


/* ---------------------------------
6. ABOUT SECTION
--------------------------------- */

span.badge.badge-dark { background: #313131; }

.progressbar-text {display: none; }

.radial-progress{ position: relative; max-width: 200px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500; 
	padding-bottom: 25px!important; color: #333!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; transform: translate(-50%, 15px); color: #777; }

.hobbies-header {
    display:unset;
}

i.hobbies {
    display: block;
    font-size: 3em;
    margin-bottom: 5px;
}

div.hobbies {
  text-align:center;
}

span.hobbies {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.2em;
    color: #4169E1;
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
  span.hobbies {
    font-size: 1.1em;
    font-weight: bold;
}
}

@media only screen and (max-width: 767px) {
  span.hobbies {
    font-size: 0.8em;
    font-weight: 500;
}
}

@media only screen and (max-width: 575px) {
  .hobbies-header{
    display: none;
  }
}
	

/* ---------------------------------
7. EXPERIENCE SECTION
--------------------------------- */

.experience-section{ background: #3d0202; color: #fff; }

.experience .list > li{ display: block; position: relative; margin-bottom: 10px; padding-left: 20px; }

.experience .list > li:before{ content: ''; position: absolute; top: 50%; left: 0; height: 10px; 
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #fff; }

	
/* ---------------------------------
8. EDUCATION SECTION
--------------------------------- */

.education-wrapper{ position: relative; }

.education-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: -51px;
	width: 2px; background: #ccc; }

.education-wrapper .education{ position: relative; }

.education-wrapper .education:after{ content:''; position: absolute; top: 8px; left: -58px; width: 16px; 
	height: 16px; border-radius: 10px; z-index: 1;
	box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.4); background: #e40e0e; }
	
	
/* ---------------------------------
9. COUNTER SECTION
--------------------------------- */

.counter-section{ position: relative; padding: 100px 0 70px; background-size: cover; z-index: 1; 
	background-image: url(../../../images/slider.jpg); color: #fff; }

.counter-section:after{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; background: rgba(0,0,0, .2); }

.counter{ position: relative; }
	
.counter .title{ text-align: right; margin-right: 130px; }

.counter .desc{ position: absolute; bottom: 4px; right: 0px; width: 110px; }


/* RADIAL PREOGRESS SECTION */


.radial-progress{ position: relative; max-width: 200px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500; 
	padding-bottom: 25px!important; color: #333!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; transform: translate(-50%, 15px); color: #777; }

	
/* ---------------------------------
9. QUOTO SECTION
--------------------------------- */

.quoto-section{ padding: 80px 0; position: relative; background-size: cover; 
	z-index: 1; /* background-image: url(../../../images/slider-4-1920x600.jpg); */ background: #fff; color: #404040; }

.quoto-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; }
	
.quoto-section .icon{ margin-bottom: 20px; height: 40px; width: 40px; line-height: 40px; 
	border-radius: 30px; background: #FFAB00; color: #fff; }
	
/* ---------------------------------
10. FOOTER
--------------------------------- */

.copyright{ text-align: center; padding: 30px 0; background: #3d0202; color:#fff; }

/* ---------------------------------
11. MOBILE MENU
--------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300');
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;  /* Preferred icon size */
  display: inline-block;
  color:#fff;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.FABMenu {
	position: fixed;
	/* top: 0; */
	margin: auto;
	width: 600px;
	height: 95px;
	z-index: 999;
	right: 0;
	left: 0;
	bottom: 0;
}
.FABMenu input
{
  position:absolute;
  top: 0%;
  left:50%;
  width:80px;
  height:80px;
  z-index:20;
  border-radius: 80px;
  opacity:0;
  cursor:pointer;
}
.hamburger
{
  position:absolute;
  top:0%;
  left:50%;
  width: 80px;
  height:80px;
  background-color: #ffab00;
  border-radius:100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  z-index:10;
  cursor:pointer;
}
.dots span
{
  position: absolute;
  top: 45%;
  width:8px;
  height:8px;
  border-radius:8px;
  background:#fff;
  z-index:20;
    transition: all .3s ease-in-out;
}

.first
{
  margin-left:1em;
}
.second
{
  
  margin-left:2.3em;
}
.third
{
   margin-left:3.6em;
}
.FABMenu input:checked ~ .hamburger .dots .first
{
 top:20px;
  height:60px;
  transform-origin:top;
  transform:rotate(-45deg);
   transition: all .3s ease-in-out;
  
}
.FABMenu input:checked ~ .hamburger .dots .third
{
 top:20px;
  height:60px;
  transform-origin:top;
  transform:rotate(45deg);
   transition: all .3s ease-in-out;
}
.action_items_bar
{
  position:absolute;
  top:4.5%;
  left:25%;
  width:380px;
  height:60px;
  background-color: #ffab00;
  border-radius:60px;
  box-shadow: 0px 5px 20px #ffab0059;
  z-index:5;
  
/*   animation-name: expand-the-bar;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; */
  transform:scaleX(0);
  transition: all .3s ease-in-out;
}
.FABMenu input:checked ~ .action_items_bar
{
  transform:scaleX(1);
}
.action_items span
{
  position: absolute;
  top: 25%;
  width:20px;
  padding-left:35px;
  opacity:0;
  transition: all .2s ease-in-out;
  cursor:pointer; 
}
.first_item
{
  left:0%;
}
.second_item
{
  left:15%;
}
.third_item
{
  left:60%;
}
.fourth_item
{
  left:75%;
}
.FABMenu input:checked ~ .action_items_bar .action_items .first_item
{
    opacity:1;
  transition-delay:.45s;
}
.FABMenu input:checked ~ .action_items_bar .action_items .second_item
{
    opacity:1;
  transition-delay:.40s;

}
.FABMenu input:checked ~ .action_items_bar .action_items .third_item
{
    opacity:1;
  transition-delay:.40s;
}
.FABMenu input:checked ~ .action_items_bar .action_items .fourth_item
{
    opacity:1;
  transition-delay:.45s;
}

@media only screen and (min-width: 1024px){
.FABMenu {
  display: none;
}
}

@media only screen and (max-width: 767px) {
.FABMenu {
    width: 100%;
}
.FABMenu input {
    left: 45%;
}
.third_item {
    left: 58%;
}
.hamburger {
    left: 45%;
}
.action_items_bar {
    left: 25%;
}
}


@media only screen and (max-width: 575px){
body {
    font-size: 1em !important;
}
.FABMenu input {
    left: 50%;
}
.hamburger {
    left: 50%;
}
}

@media only screen and (max-width: 479px) {
.FABMenu {
    width: 100%;
}
.third_item {
    left: 58%;
}
.fourth_item {
    left: 72%;
}
.hamburger {
    left: 42%;
}
.action_items_bar {
    width: 70% !important;
    left: 15%;
}
.FABMenu input {
    left: 100%;
}
}


@media only screen and (max-width: 375px) {
.FABMenu {
    width: 100%;
}
.FABMenu input {
    left: 40%;
}
.second_item {
    left: 13%;
}
.third_item {
    left: 60%;
}
.fourth_item {
    left: 73%;
}
.hamburger {
    left: 40%;
}
.action_items_bar {
    width: 70% !important;
    left: 15%;
}
.FABMenu input {
    left: 41%;
}

.action_items span {
    padding-left: 25px;
}

.action_items span {
    z-index: 0;
}

}